.brand-logo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 3px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate( -45deg);
  transform-origin: center;
  width: .625em;
}

.navbar-item {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.navbar {
  background-color: hsl(48, 100%, 85%);
}

.hero-body {
  background-image: url(./desktop2.png);
  width: auto;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: hsl(48, 100%, 85%);
}

.subtitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: hsl(48, 100%, 85%);
}