.brand-logo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 3px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate( -45deg);
  transform-origin: center;
  width: .625em;
}

.navbar-item {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.navbar {
  background-color: hsl(48, 100%, 85%);
}

.hero-body {
  background-image: url(./desktop3.png);
  width: auto;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: hsl(48, 100%, 85%);
}

.subtitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 27rem;
  padding-top: 0.9rem;
}

.subtitle-body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 27rem;
  padding-right: 29rem;
}

.card {
  padding-top: 0.7rem;
  1 color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.label {
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.control {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.textarea {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.button1 {
  background-color: hsl(48, 100%, 85%);
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  width: 5rem;
  height: 3rem;
}

.button2 {
  background-color: black;
  border: none;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  width: 5rem;
  height: 3rem;
}